<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        {% for user in users %}
            <div>
                {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
            </div>
        {% endfor %}
    </body>
</html>
