{% extends 'layout/base_layout.html.twig' %}
{% set page = 'login' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/HotspotMap/css/connexion.css">
{% endblock %}

{% block core %}
    <form method="post" action="{{ path('admin_login_check') }}" class="login">
        <p>
            <label for="login">Login:</label>
            <input type="text" name="_username" id="login" value="">
        </p>

        <p>
            <label for="password">Password:</label>
            <input type="password" name="_password" id="password" value="">
        </p>

        <p class="login-submit">
            <button type="submit" class="login-button">Login</button>
        </p>
    </form>

    {% if error != "" %}
        <section class="about">
            <p>
                Warning : {{ error }}
            </p>
        </section>
    {% endif %}
{% endblock %}

{% block js %}
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
{% endblock %}
