<html>
    <head>
        <title>user {{ user.name }}</title>
    </head>
    <body>
        <h1>User {{ user.name }}</h1>
            <div>
                {{ user.name }} {{ user.id }}
            </div>
    </body>
</html>