<html>
    <head>
        <title>user {{ user.id }}</title>
    </head>
    <body>
        <h1>User</h1>
            <div>
                {{ user.firstname }} {{ user.lastname }} ({{ user.email }})
            </div>
    </body>
</html>
