{% extends 'layout/base_layout.html.twig' %}
{% set page = 'admin' %}

{% block stylesheets %}{% endblock %}

{% block core %}

    <p style="margin-top: 60px">Admin</p>

{% endblock %}

{% block js %}

{% endblock %}
