<html>
    <head>
        <title>Places</title>
    </head>
    <body>
        <h1>Places</h1>
        {% for place in places %}
            <div>
                {{ place.name }}
            </div>
        {% endfor %}
    </body>
</html>
