<html>
    <head>
        <title>Place {{ place.name }}</title>
    </head>
    <body>
        <h1>Place {{ place.name }}</h1>
            <div>
                {{ place.name }} {{ place.id }}
            </div>
    </body>
</html>