<section class="comments">
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>Hello, this is an example comment</p>
            </div>
            <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/7" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>This is a much longer one that will go on for a few lines.It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
            </div>
            <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
        </div>
    </article>
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/5" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>one more</p>
            </div>
            <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
        </div>
    </article>
</section>