<section class="comments">
    <article class="comment">
        <a class="comment-img" href="#non">
            <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
        </a>
        <div class="comment-body">
            <div class="text">
                <p>Comments are loading...</p>
            </div>
        </div>
    </article>
</section>