{% extends 'layout/base_layout.html.twig' %}
{% set page = 'contact' %}

{% block stylesheets %}{% endblock %}

{% block core %}

<p style="margin-top: 60px">Contact</p>

{% endblock %}

{% block js %}

{% endblock %}
