{% extends 'layout/base_layout.html.twig' %}
{% set page = 'about' %}

{% block stylesheets %}{% endblock %}

{% block core %}

    <p class="about-author" style="margin-top: 60px">
        Login page<br/>
        &copy; 2012&ndash;2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
        <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
        Original PSD by <a href="http://365psd.com/day/2-234/" target="_blank">Rich McNabb</a>
    </p>

{% endblock %}

{% block js %}

{% endblock %}
